<nav class="no-print">
  <select name="language" id="language">
    <option value="english">English</option>
    <option value="español">Español</option>
  </select>
</nav>

<style>
  nav {
    max-width: 80%;
    text-align: end;
    margin: auto auto 1rem auto;
  }

  select {
    background-color: transparent;
    /* border: solid 0.15rem #666; */
    border: none;
    font-family: inherit;
    font-size: inherit;
    /* cursor: inherit; */
    line-height: inherit;
  }
</style>
